ClienteSaludos/Service References/ServiciosSaludos/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicioSaludo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicioSaludo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Saludo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Idioma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Saludo" nillable="true" type="tns:Saludo" />
</xs:schema>